$sidebar-width: 280px;

// 手機板(預設)
.sidebar {
  width: $sidebar-width;
  margin-left: -$sidebar-width;
  transition: margin-left 0.25s;
}

.main {
  width: 100%;
}

// 展開 sidebar
.sidebar-toggle {
  .sidebar {
    margin-left: 0;
  }
}

// 桌面板(up)
@include media-breakpoint-up(lg) {
  .sidebar {
    margin-left: 0;
    width: $sidebar-width;
  }

  .main {
    // 變數視為一個字串
    width: calc(100vw - #{$sidebar-width});
  }

  // 展開 sidebar
  .sidebar-toggle {
    .sidebar {
      margin-left: -$sidebar-width;
    }

    .main {
      width: 100%;
      margin-left: 0;
    }
  }
}
